<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
      Supply BOOKREADER_DB_URL, BOOKREADER_DB_USER and BOOKREADER_DB_PASSWORD
      as MyBatis/JVM properties in your local environment. Do not commit real credentials.
    -->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${BOOKREADER_DB_URL}"/>
                <property name="username" value="${BOOKREADER_DB_USER}"/>
                <property name="password" value="${BOOKREADER_DB_PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/UserDao.xml"></mapper>
        <mapper resource="mappers/FictionDao.xml"></mapper>
    </mappers>
</configuration>
